@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center">Statisztikai elemzés a vállalkozások forgalmáról</h1>


<!DOCTYPE HTML>
<html>
<head>
    <script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title: {
		text: ""
	},
	axisX: {
        titleFontFamily: "comic sans ms",
		/*interval: 10*/
	},
	axisY: {
		title: "Eladási forgalom",
		prefix: "$"
	},
	data: [{
		type: "spline",
		yValueFormatString: "$#,###",
        dataPoints: @Html.Raw(ViewBag.CateringModels)
	}]
});
chart.render();

}
    </script>
</head>
<body>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>